/* 
Colors:

Ivory: f0eee4
- form input bg

Parchment: DBD39E
rgba(219, 211, 158, .7)
- app bg

Walnut: 49340a
- dark type

Red: 701e0d
Button inactive bg

Bright red: ab260c
Button active bg

*/




@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Merriweather:wght@300;400;700&display=swap');
*{ 
    box-sizing:border-box;
}
html, body {
    height:100%;
}
body{
    background-color:#DBD39E;
    background:url('./img/fantasy-blank-map.jpg') no-repeat center center fixed;
    background-size:cover;
    color:#49340a;
    margin:0;
    padding:0;
    font-family:'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Arbutus Slab', serif;
}

p{
    max-width:35em;
    line-height:1.35;
}

#root{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
.App{
    /* hex DBD39E */
    background-color: rgba(219, 211, 158, .7);
    min-height:100%;
    padding:5%;
}

input, button{
    border:none;
    margin:2px;
    height:2.5em;
    padding: 0 .7em;
    border-radius:4px;
}

input{
    color:#49340a;
    opacity:.8;
}


input:focus, a:focus, button:focus {
    outline:none;
    box-shadow: 0 0 0 3px #49340a;
}

button{
    background-color:#701e0d;
    color:#f0eee4;
    font-weight:bold;
    cursor:pointer;
}
button:hover,button:active{
    background-color:#ab260c;
}